body {
    background: #BBBBBB;
    color: black;
}
a {
    color: #DD0000;
}
.item {
    background: #DDDDDD;
    border-bottom: 2px solid black;
    padding: 0.75em;
}
.code {
    width: 75%;
    margin-left: 2em;
    background: #FFFFBB;
    padding: 1em;
}
